<a href="https://colab.research.google.com/github/cjfal/TIL/blob/master/SWEA_D1_DJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기본 제공코드는 임의 수정해도 관계 없습니다. 단, 입출력 포맷 주의
# 아래 표준 입출력 예제 필요시 참고하세요.

# 표준 입력 예제
'''
a = int(input())                        정수형 변수 1개 입력 받는 예제
b, c = map(int, input().split())        정수형 변수 2개 입력 받는 예제 
d = float(input())                      실수형 변수 1개 입력 받는 예제
e, f, g = map(float, input().split())   실수형 변수 3개 입력 받는 예제
h = input()                             문자열 변수 1개 입력 받는 예제
'''

# 표준 출력 예제
'''
a, b = 6, 3
c, d, e = 1.0, 2.5, 3.4
f = "ABC"
print(a)                                정수형 변수 1개 출력하는 예제
print(b, end = " ")                     줄바꿈 하지 않고 정수형 변수와 공백을 출력하는 예제
print(c, d, e)                          실수형 변수 3개 출력하는 예제
print(f)                                문자열 1개 출력하는 예제
'''

import sys


'''
      아래의 구문은 input.txt 를 read only 형식으로 연 후,
      앞으로 표준 입력(키보드) 대신 input.txt 파일로부터 읽어오겠다는 의미의 코드입니다.
      여러분이 작성한 코드를 테스트 할 때, 편의를 위해서 input.txt에 입력을 저장한 후,
      아래 구문을 이용하면 이후 입력을 수행할 때 표준 입력 대신 파일로부터 입력을 받아올 수 있습니다.

      따라서 테스트를 수행할 때에는 아래 주석을 지우고 이 구문을 사용하셔도 좋습니다.
      아래 구문을 사용하기 위해서는 import sys가 필요합니다.

      단, 채점을 위해 코드를 제출하실 때에는 반드시 아래 구문을 지우거나 주석 처리 하셔야 합니다.
'''
#sys.stdin = open("input.txt", "r")

T = int(input())
# 여러개의 테스트 케이스가 주어지므로, 각각을 처리합니다.
for test_case in range(1, T + 1):
    # ///////////////////////////////////////////////////////////////////////////////////
    '''

        이 부분에 여러분의 알고리즘 구현이 들어갑니다.

    '''
    # ///////////////////////////////////////////////////////////////////////////////////

________________

# D1 : 1936. 1대1 가위바위보

In [ ]:
A, B = map(int, input().split())

if A-B == 1 or -2:
  print('A')
else:
  print('B')

3 2
A

__________________________________

# D1 : 2058. 자릿수 더하기

In [ ]:
# 마지막 제출 코드
num = int(input())
numstr = list(str(num))
temp = []

for i in range(0,len(numstr)):
  temp.append(int(numstr[i]))

print(sum(temp))

67891

31

In [ ]:
num = int(input())
numstr = str(num)
temp = 0

for i in numstr:
    temp = temp + int(i)

print(temp)

6789
30

In [ ]:
num = int(input())
str1 = str(num)

6789

'6'


________________________

# D1 : 2063. 중간값 찾기

199


85 72 38 80 69 65 68 96 22 49 67 51 61 63 87 66 24 80 83 71 60 64 52 90 60 49 31 23 
99 94 11 25 24 51 15 13 39 67 97 19 76 12 33 99 18 92 35 74 0 95 71 39 33 39 32 37 45 
57 71 95 5 71 24 86 8 51 54 74 24 75 70 33 63 29 99 59 94 52 13 35 99 46 57 71 23 17 
3 94 48 77 18 83 11 83 25 59 62 2 78 86 7 94 65 80 32 39 84 60 65 72 61 58 84 8 72 12 
19 47 49 49 59 71 52 34 22 21 20 92 33 80 39 74 9 28 97 100 93 29 25 4 66 79 81 98 21 
91 62 82 4 59 100 34 1 51 80 92 69 77 39 38 97 51 34 35 19 22 1 67 9 90 31 82 11 51 
84 78 70 74 42 100 88 53 80 57 62 32 51 48 63 92 46 4 61 31 98 69 52 88 20

In [ ]:
# 제출코드
N = int(input())
nums = list(map(int, input().split()))
nums.sort()

i = N//2

print(nums[i])

홀수이고 9이상 199이하를 입력하세요 :199
중간값을 찾을 수들을 입력하세요.:85 72 38 80 69 65 68 96 22 49 67 51 61 63 87 66 24 80 83 71 60 64 52 90 60 49 31 23 99 94 11 25 24 51 15 13 39 67 97 19 76 12 33 99 18 92 35 74 0 95 71 39 33 39 32 37 45 57 71 95 5 71 24 86 8 51 54 74 24 75 70 33 63 29 99 59 94 52 13 35 99 46 57 71 23 17 3 94 48 77 18 83 11 83 25 59 62 2 78 86 7 94 65 80 32 39 84 60 65 72 61 58 84 8 72 12 19 47 49 49 59 71 52 34 22 21 20 92 33 80 39 74 9 28 97 100 93 29 25 4 66 79 81 98 21 91 62 82 4 59 100 34 1 51 80 92 69 77 39 38 97 51 34 35 19 22 1 67 9 90 31 82 11 51 84 78 70 74 42 100 88 53 80 57 62 32 51 48 63 92 46 4 61 31 98 69 52 88 20
58

______________________


________________________

# D1 : 2072. 홀수만 더하기

In [ ]:
for i in  range(1,int(input())+1):
  nums = list(map(int, input().split()))

  odd = 0
  for j in range(len(nums)):
    if nums[j] % 2 == 1 :
      odd = odd + nums[j]

  print("#%d" %i,odd)

1
1 2 3 4 5 6 7 8 9 10
#1 25

In [ ]:
1+3+5+7+9

25

# D1 : 2071. 평균값 구하기

In [ ]:
for i in  range(1,int(input())+1):
  nums = list(map(int, input().split()))
  mean = 0
  for j in range(len(nums)):
    mean += nums[j]
  means = round(mean / len(nums),0)
  print("#%d" %i,"{0:.0f}".format(means))

1
3 17 1 39 8 41 2 32 99 2
#1 24

___

# D1 : 2070. 큰 놈, 작은 놈, 같은 놈

In [ ]:
T = int(input())

for i in range(1, T+1):
  a, b = map(int, input().split())
  if a > b :
    print("#%d" %i , ">")
  elif a < b :
    print("#%d" %i , "<")
  else :
    print("#%d" %i , "=")

1
1 3
#1 <

_________

# D1 : 2068. 최대수 구하기

In [ ]:
T = int(input())

for i in range(1,T+1):
  nums = list(map(int, input().split()))
  print("#%d" %i , max(nums))

3
3 17 1 39 8 41 2 32 99 2
#1 99
22 8 5 123 7 2 63 7 3 46
#2 123
22 8 5 123 7 2 63 7 3 46
#3 123

---

# D1 : 2050. 알파벳을 숫자로 변환 !?

In [3]:
w = list(input())
for i in range(len(w)):
  if w[i] == 'A':
    w[i] = 1
  elif w[i] == 'B':
    w[i] = 2
  elif w[i] == 'C':
    w[i] = 3
  elif w[i] == 'D':
    w[i] = 4
  elif w[i] == 'E':
    w[i] = 5
  elif w[i] == 'F':
    w[i] = 6
  elif w[i] == 'G':
    w[i] = 7
  elif w[i] == 'H':
    w[i] = 8
  elif w[i] == 'I':
    w[i] = 9
  elif w[i] == 'J':
    w[i] = 10
  elif w[i] == 'K':
    w[i] = 11
  elif w[i] == 'L':
    w[i] = 12
  elif w[i] == 'M':
    w[i] = 13
  elif w[i] == 'N':
    w[i] = 14
  elif w[i] == 'O':
    w[i] = 15
  elif w[i] == 'P':
    w[i] = 16
  elif w[i] == 'Q':
    w[i] = 17
  elif w[i] == 'R':
    w[i] = 18
  elif w[i] == 'S':
    w[i] = 19
  elif w[i] == 'T':
    w[i] = 20
  elif w[i] == 'U':
    w[i] = 21
  elif w[i] == 'V':
    w[i] = 22
  elif w[i] == 'W':
    w[i] = 23
  elif w[i] == 'X':
    w[i] = 24
  elif w[i] == 'Y':
    w[i] = 25
  else :
    w[i] = 26
print(*w)

ABCDEFGHIJKLMNOPQRSTUVWXYZ
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26

---

D1 : 2047

- 신문 헤드라인

In [10]:
print(input().upper())

The_headline_is_the_text_indicating_the_nature_of_the_article_below_it.
THE_HEADLINE_IS_THE_TEXT_INDICATING_THE_NATURE_OF_THE_ARTICLE_BELOW_IT.

---

# D1 : 2046. 스탬프 찍기

In [12]:
print('#'*int(input()))

3
###

---

# D1 : 2029. 몫과 나머지 출력하기

In [14]:
T = int(input())
for i in range(1, T+1):
  a ,b = map(int, input().split())
  print("#%d" %i , a//b , a%b)

3
9 2
#1 4 1
15 6
#2 2 3
369 15
#3 24 9

---

# D1 : 1938. 아주 간단한 계산기 !?

In [20]:
a ,b = map(int, input().split())
cal = []
cal.append(a + b)
cal.append(a - b)
cal.append(a * b)
cal.append(a // b)
for i in range(4):
  print(cal[i])

8 3
11
5
24
2

---

# D1 : 1545. 거꾸로 출력해 보아요

In [24]:
print(*(list(range(int(input())+1))[::-1]))

8
8 7 6 5 4 3 2 1 0

---

# D1 : 2025. N줄덧셈

In [26]:
print(sum(range(int(input())+1)))

10

55

---

# D1 : 1933. 간단한 N 의 약수

In [28]:
N = int(input())
for i in range(1, N+1):
  if N%i == 0:
    print(i , end=" ")

10
1 2 5 10

---

# D1 : 2019. 더블더블

In [32]:
for i in range(int(input())+1):
  print(2 ** i , end=" ")

8
1 2 4 8 16 32 64 128 256

---

# D1 : 2027. 대각선 출력하기

In [33]:
# ????????????????
print("#++++")
print("+#+++")
print("++#++")
print("+++#+")
print("++++#")

#++++

---

# D1 : 2043. 서랍의 비밀번호

In [39]:
P , K = map(int,input().split())
count = 1
for i in range(K,1000):
  if i != P :
    count += 1
  else :
    print(count)

123 100
24

---

# D1 : 2056. 연월일 달력

In [79]:
T = int(input())

for i in range(1 ,T+1):
  num = list(input())

  year = list(map(int,num[0:4]))
  year1 = ''
  for j in range(0,4):
    year1 += str(year[j])

  month = list(map(int,num[4:6]))
  month1 = ''
  for j in [0,1]:
    month1 += str(month[j])

  day = list(map(int,num[6:]))
  day1 = ''
  for j in [0,1]:
    day1 += str(day[j])
  
  if int(month1) >12 or int(month1) < 1 :
    print("#%d" %i , "-1")

  elif int(month1) == 2 :
    if 0 < int(day1) < 29 :
      print("#%d" %i , end=" ")
      print(year1,"/",month1,"/",day1 , sep="")
    else :
      print("#%d" %i , "-1")

  elif  int(month1) == 1 or 3 or 5 or 7 or 8 or 10 or 12 : 
    if 0 < int(day1) < 32 :
      print("#%d" %i , end=" ")
      print(year1,"/",month1,"/",day1 , sep="")
    else :
      print("#%d" %i , "-1")

  elif  int(month1) == 4 or 6 or 9 or 11 : 
    if 0 < int(day1) < 31 :
      print("#%d" %i , end=" ")
      print(year1,"/",month1,"/",day1 , sep="")
    else :
      print("#%d" %i , "-1")

2
22220228
#1 2222/02/28
20150002
#2 -1